.mz-video-thumbnail-container {
    cursor: pointer;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    font-size: 12px;
}

.mz-video-thumbnail-container.isPlaying {
    background: lightblue;
    cursor: pointer
}