.app {
  text-align: center;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    "header header"
    "sidebar sidebar"
    "content content"
    "footer footer";
}

.app .app-header {
  background: #bbb;
  grid-area: header;
  height: 60px;
}

.app .app-header nav{
  /*position: fixed;*/
  /*top: 0;*/
  height: 60px;
  width: 100%;
  background: #efefef;
  overflow: hidden;
}

.app .muszoo-logo{
  height: 30px;
  background-image: url("./img/l.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin: 12px;
}

.app .app-sidebar {
  background: lightblue;
  grid-area: sidebar;
}

.app .app-content {
  background: lightgreen;
  grid-area: content;
}
.app .app-footer {
  background: pink;
  grid-area: footer
}

@media only screen and (min-width: 550px) {
  .app {
    text-align: center;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
            "header header"
            "sidebar content"
            "footer footer";
  }
}